include mixins

doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	title RUBIKO
	link(rel="stylesheet" href="css/style.min.css")
	//- Add the slick-theme.css if you want default styling
	link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
	//- Add the slick-theme.css if you want default styling
	link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")

body

	//- BEGIN HEADER

	header.section.section--light_bg.header
		.container.header-container

			+logo("", true)

			nav.header-nav
				#menu-checker.rhombus_wrap.button.bars.header-menu_checker
					.rhombus.header-menu_checker_rhombus

				//- main menu

	//- END HEADER

	//- BEGIN MAIN-SLIDER SECTION

	section#main-slider.section--dark_bg.slider-container
		#main-slider-demonstration.slider-demonstration

			#main-slide-1.slide
				.background
				.content

					.slide-description-wrap
						.slide-description
							h2 image background
							p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining

			#main-slide-2.slide
				.background
				.content

					.slide-description-wrap
						.slide-description
							h2 pattern background
							p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining

			#main-slide-3.slide
				.background
				.content

					.slide-description-wrap
						.slide-description
							h2 video background
							p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlyfive centuries, but also the leap into electronic typesetting, remaining

			#main-slide-4.slide
				.background
				.content.flex-container

					.slide-description-wrap
						.slide-description
							h2
								| your work
								br
								| presentation here
							p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only

					.image-container
						img(src="img/bg/main-slider/hand.png" alt="hand with iphone")

		#main-slider-navigation.navigation
			a#main-slider-more.rhombus_wrap.more(href="#")
				.rhombus
			a#main-slider-prev.rhombus_wrap.arrow-left(href="#")
				.rhombus
			a#main-slider-next.rhombus_wrap.arrow-right(href="#")
				.rhombus

		a#main-slider-after-section.after-section.rhombus_wrap(href="#features")
			.rhombus

	//- END MAIN-SLIDER SECTION

	//- BEGIN FEATURES SECTION

	-
		var features = [
			
				{
					icon: "vector",
				
				title: "unique design",
				desc: "Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops."},
			

			
				{
					icon: "equalizer",
				
				title: "simple backend",
				desc: "Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops."},
			

			
				{
					icon: "graph",
				
				title: "seo tools",
				desc: "Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops."},
			

			
				{
					icon: "screen-smartphone",
				
				title: "responsive",
				desc: "Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops."},
			

			
				{
					icon: "picture",
				
				title: "retina support",
				desc: "Rubiko will look beautiful on any device. Servehigh-resolution images to devices with retinadisplays.span ULTRA SHARP GRAPHICS"},
			

			
				{
					icon: "speedometer",
				
				title: "top support",
				desc: "Rubiko has a forum for you to report issues, find answers and get latest updates before we publish them on ThemeForest."},
			

			
				{
					icon: "layers",
				
				title: "documentation",
				desc: "Rubiko includes Step by step customization. All packed in one nice document thatcomes with download. span IT'S FREE AND ALWAYS WILL BE"}
			
		]

	section#features.section--light_bg
		.container

			a.anchor(name="features")

			h2 theme features
			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining

			each item in features
				.block
					.rhombus_wrap
						div(class="rhombus sl-icon-" + item.icon)
					h3= item.title
					p= item.desc

	//- END FEATURES SECTION

	//- BEGIN ABOUT SECTION

	section#about.section--dark_bg
		.container

			h2 about us
			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.

			+logo("about")
			+socials

			a#to-portfolio.rhombus_wrap.after-section.arrow-bottom(href="#portfolio")
				.rhombus

	//- END ABOUT SECTION

	//- BEGIN PORTFOLIO SECTION

	section#portfolio.section--light_bg
		.container.dynamic-blocks-container

			a.anchor(name="portfolio")

			h2 our portfolio gallery

			#portfolio-blocks.dynamic-blocks.display-rhombuses
				//- portfolio menu
				//- portfolio items

	//- END PORTFOLIO SECTION

	//- BEGIN TESTIMONIALS SECTION

	-
		var testimonials = [
			{
					desc: "\"If there ever was a team to trust with your PPC management, these are the guys. My advice? Grab your spot before they change their minds.\"",
					address: "Petar Stojakovic, Subotica"},

				{
					desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining",
					address: "Pattern background"},

				{
					desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlyfive centuries, but also the leap into electronic typesetting, remaining",
					address: "Video background"},

				{
					desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only",
					address: "Your work presentation here"},

				{
					desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining",
					address: "5"},

				{
					desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlyfive centuries, but also the leap into electronic typesetting, remaining",
					address: "6"}
		]

	section#testimonials.section--dark_bg.carousel-section
		.container

			h2 testimonials

			.carousel-container
				each item in testimonials
					div
						p.section-description= item.desc
						address= item.address

		a#to-skills.rhombus_wrap.after-section.arrow-bottom(href="#skills")
			.rhombus

	//- END TESTIMONIALS SECTION

	//- BEGIN SKILLS SECTION

	-
		var topSkills = [
			{
					prs: 95,
						
					
				
				title: "designing"},
			

			{
					prs: 77,
						
					
				
				title: "developing"},
			

			{
					prs: 99,
						
					
				
				title: "consulting"},
			

			{
					prs: 62,
						
					
				
				title: "marketing"},
			

			{
					prs: 85,
						
					
				
				title: "branding"},
		]

	-
		var bottomSkills = [

				{
								title: "html/css",
								prs: 65},
							
						
					
				

				{
								title: "responsive web design",
								prs: 85},
							
						
					
				

				{
								title: "ios development",
								prs: 95},
							
						
					
				

				{
								title: "javascript game development",
								prs: 77}
		]

	section#skills.section--light_bg
		.container

			a.anchor(name="skills")

			h2 our skills
			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

			each item, index in topSkills
				.block(id="skills-block" + index)
					.rhombus_wrap
						.rhombus= item.prs
						.rhombus.background-container
							.background
								.block-percents= item.prs
					h3= item.title

			ul#skills-technologies
				each item, index in bottomSkills
					li(id="skills-item" + index)
						.item-frame
							.item-container
								.item-content
									.item-title= item.title
									.item-percents= item.prs

	//- END SKILLS SECTION

	//- BEGIN STATISTICS SECTION

	section#statistics.section--dark_bg
		.container

			h2.some.cool statistics
			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

			.flex-container

				.sl-icon-people.block
					span 568
					h3 Happy clients!
				.sl-icon-social-twitter.block
					span 3578
					h3 Followers on Twitter
				.sl-icon-social-facebook.block
					span 2387
					h3 Friends on Facebook
				.sl-icon-trophy.block
					span 128
					h3 awards

		a#to-blog-news.rhombus_wrap.after-section.arrow-bottom(href="#blog-news")
			.rhombus

	//- END STATISTICS SECTION

	//- BEGIN BLOG-NEWS SECTION

	section#blog-news.section--light_bg
		.container.dynamic-blocks-container

			a.anchor(name="blog-news")

			h2 blog / news

			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

			#blog-news-lightbox.lightbox.hidden

				#blog-news-content

					.image-container
						img(src="img/blog-news/1.jpg" alt="7")
					

					#blog-description

						h3 rubiko will take you to the next level
						
						p.first-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed molestie neque, id venenatis nisl. Aliquam magna magna, interdum quis nisl quis, eleifend sollicitudin nibh. Morbi nec felis ut nisl sagittis rhoncus. Vestibulum condimentum ligula ac mattis commodo. Etiam pharetra, dolor tempor volutpat auctor, nisi urna lacinia diam, ac consectetur turpis velit non neque. Sed erat eros, porttitor ac pretium vel, posuere a ante. Ut mattis interdum magna egestas accumsan. Vestibulum eget eros quam.
						
						p Cras tristique mi mauris, nec ornare nisi sagittis eu. Aliquam erat volutpat. Ut a magna vel neque eleifend accumsan sit amet nec mauris. Nulla faucibus ac felis at viverra. Morbi quis elit nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In quis augue tincidunt nisl viverra vulputate sit amet eu justo.
						
						p Morbi consectetur ultricies eros ac sodales. Proin fermentum tortor augue, sit amet ullamcorper lectus egestas ac. Pellentesque ultricies orci eget urna cursus, in pharetra sapien vulputate. Pellentesque quis magna felis. Sed condimentum justo viverra, pharetra dolor ac, faucibus velit. Integer porta ornare nibh ac cursus. Maecenas bibendum pretium vehicula. Quisque adipiscing, sem vitae suscipit egestas, neque arcu elementum nibh, euismod viverra turpis massa ut tortor. Vestibulum ultrices facilisis neque, at porttitor lectus placerat a. Vivamus volutpat leo vitae mi vulputate molestie.
						
						p Aliquam nec diam sem. Nulla eu auctor tortor. Fusce feugiat ultrices tincidunt. Sed quis magna quam. Aliquam erat volutpat. Duis pretium urna lectus, sed dictum diam tincidunt quis. Fusce consequat faucibus dui sed vulputate. Duis faucibus mattis volutpat. Vestibulum placerat urna eget urna sollicitudin pulvinar. Mauris lacinia dictum tristique.
						
						p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed feugiat sem eu est sollicitudin sagittis. Nam eget adipiscing lectus, ac facilisis tortor. Nulla accumsan faucibus orci, nec tincidunt turpis blandit et. Pellentesque pulvinar fermentum ante quis fringilla. Etiam at quam justo. Suspendisse posuere fringilla tortor. Maecenas eu nunc non augue lacinia gravida sed in massa. Nullam ac nibh placerat, hendrerit quam in, aliquet augue. Duis metus sem, dictum eu turpis sodales, consequat suscipit purus.
						
						p Proin pretium felis quis eros interdum venenatis. Mauris vitae ultricies augue. Nunc ultrices neque at mollis mattis. Integer luctus, libero sed imperdiet interdum, dolor velit ullamcorper lectus, a elementum tortor leo ac sapien. Duis velit leo, mattis sit amet aliquam quis, molestie eget ante. Mauris rhoncus, arcu quis dictum fringilla, purus eros convallis leo, sit amet tincidunt purus nunc id eros. Nulla vitae egestas lectus. Maecenas semper sem sed sapien porta tincidunt quis et risus. Quisque in lobortis ipsum. Nam tincidunt gravida elit, vel auctor urna placerat ut. Sed nisl nibh, pulvinar ut sapien tincidunt, dictum sollicitudin justo. Sed tempor et nibh et eleifend. Integer nibh felis, fermentum in enim eget.
						
						.rhombus_wrap.socials-rhombus
							+socials
							.rhombus_wrap.show-socials
								.rhombus

					#blog-comments

						h4 5 Comments

						ul.level-1

							li
								.comment
									.avatar.guest-avatar
									
									.comment-text-content
										span.authorb Remington says:
										span.dateOctober 17, 2013 at 3:55 am
										p.comment-text Nice theme, I will definitely buy this one and also recommend my friends. I love the color and widget style of the theme very much. Thanks!
									
									a.show-more(href="#")
								
							

							li
								.comment
									.avatar.admin-avatar
									
									.comment-text-content
										span.authorb Rubiko says:
										span.dateOctober 17, 2013 at 3:55 am
										p.comment-text Thank you very much for yours feedback is means a lot for us!
									
									a.show-more(href="#")
								

								ul.sub-comments.level-2

									li
										.comment
											.avatar.guest-avatar
											
											.comment-text-content
												span.authorb Remington says:
												span.dateOctober 17, 2013 at 3:55 am
												p.comment-text Looking forward to working with this theme!
											
											a.show-more(href="#")
										
									

									li
										.comment
											.avatar.guest-avatar
											
											.comment-text-content
												span.authorb Remington says:
												span.dateOctober 17, 2013 at 3:55 am
												p.comment-text Looking forward to working with this theme!
											
											a.show-more(href="#")
										
									

								

							

							li
								.comment
									.avatar.guest-avatar
									
									.comment-text-content
										span.authorb Remington says:
										span.dateOctober 17, 2013 at 3:55 am
										p.comment-text Looking forward to working with this theme!
									
									a.show-more(href="#")
								
							

						

						form(action="index.html")
							.flex-container
								input.form-element(type="text" placeholder="Name*")
								input.form-element(type="email" placeholder="Email*")
							

							textarea(placeholder="Your comment*")

							.button.rhombus_wrap
								input.rhombus(type="submit" value="send")
							
						

					

				

				.navigation

					.rhombus_wrap.category
						.rhombus 5 comments

					.arrows
						.rhombus_wrap.arrow-left
							.rhombus
						.rhombus_wrap.arrow-right
							.rhombus
					.rhombus_wrap.date
						.rhombus Jan 15 2014

			#blog-news-blocks.dynamic-blocks.display-rhombuses blog and news items

	//- END BLOG-NEWS SECTION

	//- BEGIN SOCIALS-FEEDBACK SECTION

	-
		var socialsFeedback = [
			"twitter",
			"facebook",
			"tumblr",
			"dribbble"
		]

	section#socials-feedback.section--dark_bg.carousel-section
		.container

			.carousel-container
				each item in socialsFeedback
					.slide(class=item + "-slide")
						h2
						p.section-description I bought Rubiko theme that looks and works fantastically all recommendations!
						address.author
							a(href="#") @blazrobar #webdesign
						address.time 2 hours ago

		a#to-team.rhombus_wrap.after-section.arrow-bottom(href="#team")
			.rhombus



	//- END SOCIALS-FEEDBACK SECTION

	//- BEGIN TEAM SECTION

	section#team.section--light_bg.carousel-section
		.container

			a.anchor(name="team")

			h2 meet team

			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining

			.carousel-container

				#team-navigation.navigation.carousel-navigation
					.arrows

						#team-carousel-prev.rhombus_wrap.arrow-left
							.rhombus
						

						#team-carousel-next.rhombus_wrap.arrow-right
							.rhombus
						

					
				

				#team-demonstration.carousel-demonstration
					.carousel-row

						.flex-container.slide

							#team-person-1.block
								.rhombus_wrap.photo-block-wrap
									.photo-block-frame
										.rhombus.photo-block
											picture
												source(srcset="img/team/d/1.jpg" media="(min-width: 1170px)")
												source(srcset="img/team/t/1.jpg" media="(min-width: 768px)")
												img(srcset="img/team/m/1.jpg" alt="1")
											
										

									+socials("team-socials", 5)

								

								span art director
								h3 adam clark
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
							

							#team-person-2.block
								.rhombus_wrap.photo-block-wrap
									.photo-block-frame
										.rhombus.photo-block
											picture
												source(srcset="img/team/d/2.jpg" media="(min-width: 1170px)")
												source(srcset="img/team/t/2.jpg" media="(min-width: 768px)")
												img(srcset="img/team/m/2.jpg" alt="2")
											
										
									
									+socials("team-socials", 5)

								

								span graphic designer
								h3 isabella moro
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
							

						

						.flex-container.slide

							#team-person-3.block
								.rhombus_wrap.photo-block-wrap
									.photo-block-frame
										.rhombus.photo-block
											picture
												source(srcset="img/team/d/3.jpg" media="(min-width: 1170px)")
												source(srcset="img/team/t/3.jpg" media="(min-width: 768px)")
												img(srcset="img/team/m/3.jpg" alt="3")
											
										
									
									+socials("team-socials", 5)

								

								span General Manager
								h3 TOM WEERD
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
							

							#team-person-4.block
								.rhombus_wrap.photo-block-wrap
									.photo-block-frame
										.rhombus.photo-block
											picture
												source(srcset="img/team/d/4.jpg" media="(min-width: 1170px)")
												source(srcset="img/team/t/4.jpg" media="(min-width: 768px)")
												img(srcset="img/team/m/4.jpg" alt="4")
											
										
									
									+socials("team-socials", 5)

								

								span Lead Developer
								h3 JOHN HAMMOND
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
							

						

					
				

			

		


	//- END TEAM SECTION

	//- BEGIN CLIENTS SECTION

	section#clients.section--dark_bg.carousel-section
		.container

			h2 meet our lovely clients
			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

			.carousel-container
				a(class="block slide" href="#")
					picture
						source(srcset="img/clients/t/1.png" media="(min-width: 768px)")
						img(srcset="img/clients/m/1.png" alt="graphicriver")
					
				

				a(class="block slide" href="#")
					picture
						source(srcset="img/clients/t/2.png" media="(min-width: 768px)")
						img(srcset="img/clients/m/2.png" alt="themeforest")
					
				

				a(class="block slide" href="#")
					picture
						source(srcset="img/clients/t/3.png" media="(min-width: 768px)")
						img(srcset="img/clients/m/3.png" alt="activeden")
					
				

				a(class="block slide" href="#")
					picture
						source(srcset="img/clients/t/4.png" media="(min-width: 768px)")
						img(srcset="img/clients/m/4.png" alt="codecanyon")
					
				
			

		

		a#to-contacts.rhombus_wrap.after-section.arrow-bottom(href="#contacts")
			.rhombus
		


	//- END CLIENTS SECTION

	//- BEGIN CONTACTS SECTION

	section#contacts.section--light_bg
		.container

			a.anchor(name="contacts")

			h2 get in touch
			p.section-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining

			form#contacts_form.rhombus_wrap(action="index.html")
				.rhombus

					.form-element-container.first
						input(class="form-element require" type="text" name="contacts_name" placeholder="Name")
					
					.form-element-container
						input(class="form-element require" type="email" name="contacts_email" placeholder="Email")
					
					.form-element-container
						input(class="form-element require" type="text" name="contacts_website" placeholder="Website")
					
					.form-element-container
						input(class="form-element require" type="text" name="contacts_subject" placeholder="Subject")
					

					#text-area-container.form-element-container
						textarea(class="form-element require" name="contacts_message" placeholder="Your Message")
					

					#contacts-form-error.rhombus_wrap.error
						.rhombus
					

				

				#contacts-address.rhombus_wrap
					.rhombus

						h3 Rubiko Digital Agency

						p
							| 111 Fifth Avenue, 34th Floor
							br
							| New York, United States
						

						p#contacts-mail-and-phone
							a(href="mailto:hello@rubiko.com") hello@rubiko.com
							| 0987 6543 2100
						

					
				

				#contacts-send-button.rhombus_wrap.button
					input.rhombus(type="submit" name="contacts_submit" value="send")


			

			#map-point
				.oval.oval-1
				.oval.oval-2
				.oval.oval-3
			

		


	//- END CONTACTS SECTION

	//- BEGIN FOOTER

	footer.section--dark_bg
		.container

			//- a#footer-logo.logo(href="#")
			//- 	.rhombus_wrap.fill-rhombus
			//- 	.rhombus_wrap.empty-rhombus
			//- 	h2 rubiko
			+logo("footer", false, true)

			address Copyright © 2014. Rubiko Studio. All Rights Reserved.

		

		#footer-socials-container.content.flex-container

			//- ul#footer-left-socials.socials.flex-container
			//- 	li
			//- 		a.facebook(href="#")
			//- 	li
			//- 		a.twitter(href="#")
			//- 	li
			//- 		a.dribbble(href="#")
			+socials("flex-container", 3, 0, "footer-left-socials")


			//- ul#footer-right-socials.socials.flex-container
			//- 	li
			//- 		a.tumblr(href="#")
			//- 	li
			//- 		a.linkedin(href="#")
			//- 	li
			//- 		a.pinterest(href="#")
			+socials("flex-container", 3, 3, "footer-right-socials")

		

		a#to-top.rhombus_wrap.after-section.arrow-top(href="google.ru")
			.rhombus
		



	//- END FOOTER

	//- BEGIN LIGHTBOX

	//- #portfolio-lightbox.lightbox hidden
	//- 	.lightbox-wrap
	//- 		.slider-container

	//- 			#portfolio-slider-demonstration.slider-demonstration
	//- 				.image-container
	//- 					//- image
					
	//- 				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				

	//- 			a#portfolio-slider-close.rhombus_wrap.button close(href="#")
	//- 				.rhombus
				

	//- 			#portfolio-slider-navigation.navigation
	//- 				a#portfolio-slider-prev.rhombus_wrap.arrow-left(href="#")
	//- 					.rhombus
					

	//- 				a#portfolio-slider-next.rhombus_wrap.arrow-right(href="#")
	//- 					.rhombus
					
				

	//- 			.rhombus_wrap.socials-rhombus
	//- 				ul.socials
	//- 					lia.pinterest(href="#")
	//- 					lia.linkedin(href="#")
	//- 					lia.facebook(href="#")
	//- 					lia.dribbble(href="#")
	//- 					lia.twitter(href="#")
					

	//- 				.rhombus_wrap.show-socials
	//- 					.rhombus
					
				

			
		


	//- END LIGHTBOX

	script(src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript")
	script(src="js/pf.intrinsic.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js")
	script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
	script(src="js/request-animation-frame-polyfill.js")
	script(src="js/reasanik-base.js")
	script(src="js/restruct-rhombuses.js")
	script(src="js/menu.js")
	script(src="js/slider.js")
	script(src="js/animate-blocks.js")
	script(src="js/scroll-effect.js")
	script(src="js/to-top.js")
	script(src="js/gallery.js")
	script(src="js/carousel.js")
	script(src="js/form-validate.js")
	script(src="js/include-plugins.js")
