mixin logo(id="", isMain=false, titleH=false)
  a.logo(id=id ? id + "-logo" : "" class=isMain ? "header-logo" : "logo--" + id href="#")
    .rhombus_wrap.logo-rhombus.logo-rhombus--fill
    .rhombus_wrap.logo-rhombus.logo-rhombus--empty
    if isMain
      h1.logo-title rubiko
    else if titleH
      h2.logo-title rubiko
    else
      span.logo-title rubiko

mixin socials(classes="", count=6, from=0, id="")
  -
    var items = [
      "facebook",
      "twitter",
      "dribbble",
      "tumblr",
      "linkedin",
      "pinterest"
    ]
  - var fixedCount = count + from
  - var listClasses = (classes ? classes + " " : "") + "socials"

  ul(id=id class=(classes ? classes + " " : "") + "socials")
    - for (var i = from; i < fixedCount; i++)
      li.rhombus_wrap
        a.rhombus_wrap-content(class=items[i] href="#")
