mixin logo(id="", isMain=false, titleH=false)
  a.logo(id=id ? id + "-logo" : "" class=isMain ? "header-logo" : id + "-logo" href="#")
    .rhombus_wrap.logo-rhombus.logo-rhombus--fill
    .rhombus_wrap.logo-rhombus.logo-rhombus--empty
    if isMain
      h1.logo-title rubiko
    else if titleH
      h2.logo-title rubiko
    else
      span.logo-title rubiko

mixin socials(classes="", count=6, from=0, id="")
  -
    var items = [
      "facebook",
      "twitter",
      "dribbble",
      "tumblr",
      "linkedin",
      "pinterest"
    ]
  - var fixedCount = count + from

  ul(id=id class=(classes ? classes + " " : "") + "social-list")
    - for (var i = from; i < fixedCount; i++)
      li.rhombus_wrap.social-item
        a.rhombus_wrap-rhombus.social-link(class="social-link--" + items[i] href="#")

mixin social-rhombus(classes="")
  .rhombus_wrap.social-rhombus(class=classes)
    +socials
    .rhombus_wrap.rhombus_wrap--red_bg.social-show
      .rhombus_wrap-rhombus
